@font-face {
  font-family: 'Josefin_Sans';
  src: url('./fonts/JosefinSans-Italic-VariableFont_wght.ttf');
  font-display: swap;
}

html {
  font-family: 'Josefin_Sans';
  box-sizing: border-box;
}

body {
  padding: 36px 0 0;
  margin: 0;
  color: #333;
  max-width: 576px;
  margin: 0 auto;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

header.header--top {
  display: flex;
  padding: 0.225rem 0;
  justify-content: center;
  background-color: #fff;
  z-index: 100;
}

header.header--top .text_logo {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 800;
  white-space: nowrap;
  margin: 0;
  text-decoration: none;
  color: #333;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

section {
  display: block;
}

section.intro .intro_1 {
  color: black;
}

section.f1 {
  padding: 10px;
}

.h_title {
  text-align: center;
  margin: 20px 0 10px;
}

.font_2 {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.section_header {
  font-size: 30px;
}

section.ingredient {
  position: relative;
}

.ingredient_1, .ingredient_2 {
  width: 250px;
  position: absolute;
}

section.sell {
  background-image: url('./images/bg-min.jpg');
  position: relative;
  background-position: center;
  background-attachment: scroll;
  overflow: hidden;
  background-repeat: no-repeat;
  padding: 10px;
}

section.sell .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #444;
  opacity: 0.8;
  z-index: 1;
}

section.sell .sell-content {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 20px;
  border: 5px solid white;
  position: relative;
  padding: 10px;
}

section.sell .sell-content a ,
section.sell .sell-content p {
  font-size: 16px;
  color: white;
}

.ingredient_1 {
  right: 35%;
}
.ingredient_2 {
  right: 5%;
}

.products {
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product {
  height: 200px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: start;
}

.product.str {
  border: 2px solid #f1d2d8;
}

.product.kiwi {
  border: 2px solid #cdddd4;
}

.product.pas {
  border: 2px solid #f3dbbd;
}

.product-img {
  width: 51%;
  height: 200px;
  object-fit: cover;
  flex: 1;
}

.product-name {
  flex: 1;
  text-align: center;
  align-self: center;
}

.img_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "h1 h1 h2 h2"
  "h4 h5 h3 h3"
  "h6 h8 h7 h7";
  list-style: none;
  padding: 0 10px;
  grid-gap: 6px;
  overflow: hidden;
  grid-template-rows: 300px 165px;
  margin-block: 0;
}
.mg_wrap_2 {
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-areas:
      "h1 h1 h1 h1"
      "h2 h2 h3 h3";
  grid-template-rows: 300px 180px;
}

.img_wrap .img-i {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
}

.img_wrap .img-i img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img_wrap .img-i:nth-child(1) {
  grid-area: h1;
}

.img_wrap .img-i:nth-child(2) {
  grid-area: h2;
}

.img_wrap .img-i:nth-child(3) {
  grid-area: h3;
}

.img_wrap .img-i:nth-child(4) {
  grid-area: h4;
}

.img_wrap .img-i:nth-child(5) {
  grid-area: h5;
}

.img-i img {
  width: 100%;
  object-fit: contain;
  cursor: pointer;
  transition: .3s linear;
}

.img_overlay {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  transition: .5s;
  filter: blur(3px) drop-shadow(8px 8px 10px gray);;
  -ms-filter: blur(3px) drop-shadow(8px 8px 10px gray);;
  background-repeat: no-repeat;
  background-position: center;
  backdrop-filter: brightness(1);
  backdrop-filter: brightness(1);
  background-size: cover;
}

.img_overlay.active {
  display: block;
}

.img_overlay.active + .watermark {
  display: block;
}

.watermark {
  display: none;
  position: fixed;
  bottom: 20px;
  z-index: 1000;
  right: 20px;
  border-radius: 50%;
  width: 90px;
  border: 3px solid #ff7991;
}

footer {
  margin-top: 300px;
  height: 50px;
  background: #844751;
  padding: 20px 10px;
  color: #fff;
}

@media screen and (max-width: 576px) {
  .intro img { width: 250px; }
}

.intro_1 {
  font-size: 2rem;
  position: absolute;
  top: 10px;
  left: 10px;
}

.intro {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.make_phone_call {
  position: fixed;
  background-color: #dd5168;
  background-image: url(./icons/icons-call.png);
  width: 49px;
  height: 50px;
  bottom: -100%;
  right: 10px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  transition: .5s;
  z-index: 2;
}

.make_phone_call.active {
  bottom: 100px;
  transition: .5s;
}

footer .contact {
  padding-bottom: 6px;
}

footer .ico {
  width: 30px;
  height: 30px;
}

footer .ico.phone {
  background-image: url(./icons/icons-call.png);
  background-repeat: no-repeat;
  background-size: 25px 25px;
}

footer .ico.fb {
  background-image: url(./icons/icon-facebook.png);
  background-repeat: no-repeat;
  background-size: 26px 26px;
}

.group-contact {
  display: flex;
  justify-content: flex-start;
  align-items: end;
}

.group-contact a {
  color: white;
  text-decoration: none;
}

.mt-0 { margin-top: 0; }

.modal_img {
  z-index: 101;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0);
  transition: .3s;
  transform-origin: center;
}

.modal_img.active {
  transform: translateX(-50%) translateY(-50%) scale(1);
  transform-origin: center;
  transition: .3s;
}

.modal_img img {
  height: auto;
  max-width: 376px;
  border: 5px solid white;
}

@media screen and (width > 480px) {
  .intro_1 { font-size: 3.15rem; }

  .intro img { width: 285px; }
}
